.card-container {
  width: 240px;
  height: 330px;
  margin: 1.5rem;
  float: left;
}

.card {
  width: 240px;
  height: 330px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flipped {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.front-face {
  background-image: url(../../../../assets/images/cards/yugioh-card-back.jpeg);
  background-size: 100% 100%;
}

.back-face {
  transform: rotateY(180deg);
}

.back-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
